.animate-fadein {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.animate-fadein.animate-started {
    opacity: 1;
}
.animate-fadein.animate-delay-200 {
    transition-delay: 0.2s;
}
.animate-fadein.animate-delay-300 {
    transition-delay: 0.3s;
}
.animate-fadeinup {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    will-change: opacity, transform;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.animate-fadeinup.animate-started {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    will-change: auto;
}
.animate-fadeinup.animate-delay-400 {
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s, transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}



.org-item {
  opacity: 0;
  transition: opacity 1.5s ease;
  will-change: opacity;
}

.org-item.is-visible {
  opacity: 1;
}









.animate-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-up.show {
  opacity: 1;
  transform: translateY(0);
}



#organizations .org-item {
  opacity: 0 !important;
  transition: opacity 1.1s ease !important;
}

#organizations .org-item.is-visible {
  opacity: 1 !important;
}